.footer {
  height: 185px;
  border-top: 0.5px solid #ececec;
  margin-left: -130px;
  margin-right: -130px;

  &__top {
    margin: 0 130px;
    padding-top: 50px;
    height: 121px;
    display: flex;
    justify-content: space-between;

    .top__nav {
      display: flex;
      width: 500px;
      justify-content: space-between;
      margin-left: -2px;
      .nav__link {
        text-decoration: none;
        font-size: 14px;
        line-height: 1.57;
        color: var(--greyish-two);
      }
    }

    .top__contact {
      width: 100px;
      display: flex;
      justify-content: space-between;
      // margin-left: -50px;
    }
  }

  &__bottom {
    margin: 0 130px;
    height: 64px;
    padding-top: 15px;
    border-top: 0.5px solid #ececec;
    display: flex;
    justify-content: space-between;

    .bottom__nav {
      display: flex;
      width: 400px;
      margin-right: -50px;
      justify-content: space-between;
      .nav__link {
        text-decoration: none;
        font-size: 12px;
        font-weight: 500;
        line-height: 1.83;
        color: var(--greyish-two);
      }
    }

    .bottom__policy {
      display: flex;
      justify-content: space-between;
      width: 220px;
      .policy__link {
        text-decoration: none;
        font-size: 12px;
        font-weight: 500;
        line-height: 1.83;
        color: var(--greyish-two);
      }
    }
  }
}
