.review-section {
  &__divider {
    display: flex;
    align-items: center;

    .divider__start {
      width: 80px;
      height: 0.1px;
      background-color: var(--brown-grey);
    }
    
    .divider__title {
      margin: 0 20px;
      font-size: 16px;
      font-weight: 500;
      line-height: 1.5;
      color: var(--dark-grey);
    }
    
    .divider__end {
      width: 992px;
      height: 0.1px;
      background-color: var(--brown-grey);
    }
  }

  .no-reviews {
    margin: 69px 0;
    font-size: 14px;
    line-height: 1.57;
    text-align: center;
    color: var(--greyish-two);
  }

  .review {
    display: flex;
    margin: 0 100px;
    border-bottom: 0.5px dashed var(--pinkish-grey);
    padding: 15px 0;

    &:last-child {
      border-bottom: none;
    }

    .review__info {
      width: 180px;

      .info__name {
        font-size: 14px;
        font-weight: bold;
        line-height: 1.57;
        color: var(--dark-grey);
      }
    }

    .review__content {
      width: 800px;
      background-color: #f9f9f9;
      padding: 15px 20px;

      .content__title {
        font-size: 16px;
        font-weight: bold;
        line-height: 1.5;
        color: var(--dark-grey);
      }

      .content__comment {
        margin-top: 15px;
        font-size: 14px;
        line-height: 1.57;
        letter-spacing: -0.1px;
        color: var(--greyish-brown);
      }
    }
  }
}