.admin-login {
  width: 1463px;
  height: 671px;
  background-size: cover;
  background-image: url("../../assets/images/admin-login-image.png");
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  .logo {
    position: absolute;
    top: 32px;
    left: 44px;
  }

  .form-login {
    width: 380px;
    height: 424px;
    border-radius: 2px;
    // backdrop-filter: blur(10px);
    box-shadow: 0 10px 24px 0 var(--black-8);
    background-color: rgba(61, 61, 63, 0.8);

    .form__title {
      width: 100%;
      margin-top: 32px;
      margin-bottom: 20px;
      text-align: center;
      font-size: 28px;
      font-weight: bold;
      line-height: 1.29;
      color: #ffa15f;
    }

    .content__form {
      padding: 0 32px;

      .form__button {
        border: none;
        width: 100%;
        height: 48px;
        margin-top: 20px;
        border-radius: 2px;
        background-color: #ffa15f;
        font-size: 14px;
        font-weight: 600;
        line-height: 1.71;
        color: var(--white);

        &:disabled {
          cursor: default;
          background-color: var(--white-four);
        }
      }
    }

    .form__option {
      cursor: pointer;
      width: 100%;
      text-align: center;
      margin-top: 28px;
      font-size: 12px;
      font-weight: 600;
      line-height: normal;
      color: var(--white);
    }
  }
}
