.card {
  width: 280px;
  height: 405px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;

  &__title {
    font-family: Domine;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.33;
    color: var(--white);
  }

  &__divider {
    width: 195px;
    height: 0.1px;
    margin: 6px 0 13.9px;
    border: solid 1px var(--white-six);
  }

  &__link {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 40px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.57;
    color: var(--white);
    background-color: #ffa15f;
    border: none;
    margin-bottom: 24px;
  }
}
