.product-list {
  &__breadcrumb {
    height: 100px;
    padding: 40px;

    & > p {
      text-align: center;
      font-size: 14px;
      line-height: 1.57;
      color: var(--dark-grey);
    }

    .link {
      cursor: pointer;
    }
  }

  &__main {
    display: flex;

    .main__option {
      width: 180px;
      margin-right: 20px;

      .option__category {
        .category__title {
          font-size: 16px;
          font-weight: bold;
          line-height: 1.5;
          color: var(--dark-grey);
          margin-bottom: 29px;
        }

        .category__type {
          font-size: 14px;
          line-height: 1.57;
          color: var(--greyish-brown);
          cursor: pointer;
        }

        .category--active {
          font-weight: 500;
          color: var(--bright-orange);
        }

        .category__divider {
          width: 20px;
          margin: 8px 0;
          border: solid 0.5px var(--brown-grey);
        }

        .category__detail {
          & > p {
            font-size: 14px;
            line-height: 1.57;
            font-weight: normal;
            letter-spacing: -0.1px;
            color: var(--greyish-brown);
            margin-bottom: 18px;
            cursor: pointer;
          }
          .category--active {
            font-weight: 500;
            color: var(--bright-orange);
          }
        }
      }
      .option__divider {
        margin: 54px 0;
        width: 101px;
        border: solid 0.5px var(--brown-grey);
      }
    }

    .no-result {
      width: 805px;
      text-align: center;
      font-size: 14px;
      font-weight: normal;
      line-height: 1.57;
      color: var(--greyish-two);
    }

    .spinner-container {
      width: 800px;
    }

    .main__content {
      .content__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 13px;

        .top__pagination {
          width: 112px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          .pagination__page {
            font-size: 14px;
            font-weight: 500;
            line-height: 1.57;
            text-align: center;
            color: var(--dark-grey);
          }

          .pagination__previous {
            width: 24px;
            height: 24px;
            background-color: var(--white);
            border: none;
            transform: rotate(90deg);
          }

          .pagination__next {
            width: 24px;
            height: 24px;
            background-color: var(--white);
            border: none;
            transform: rotate(-90deg);
          }
        }
      }

      .content__card {
        width: 970px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }

      .content__bottom {
        display: flex;
        justify-content: flex-end;

        .bottom__pagination {
          width: 112px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 36px;

          .pagination__page {
            font-size: 14px;
            font-weight: 500;
            line-height: 1.57;
            text-align: center;
            color: var(--dark-grey);
          }

          .pagination__previous {
            width: 24px;
            height: 24px;
            background-color: var(--white);
            border: none;
            transform: rotate(90deg);
          }

          .pagination__next {
            width: 24px;
            height: 24px;
            background-color: var(--white);
            border: none;
            transform: rotate(-90deg);
          }
        }
      }
    }
  }
}
