.cart {
  &__title {
    margin: 37px 0;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.33;
    color: var(--dark-grey);
  }

  &__main {
    display: flex;
    justify-content: space-between;

    .main__detail {
      width: 780px;

      .detail__table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 40px;

        & > thead > tr > th {
          font-size: 14px;
          font-weight: bold;
          line-height: 1.57;
          color: var(--dark-grey);
          padding-bottom: 10px;
          border-bottom: solid 0.5px var(--brown-grey);
        }
      }
    }

    .main__total {
      width: 330px;

      .total__title {
        font-size: 14px;
        font-weight: bold;
        line-height: 1.57;
        color: var(--dark-grey);
        margin-bottom: 10px;
      }

      .total__info {
        height: 148px;
        padding: 32px 28px 22px 30px;
        background-color: #f9f9f9;
        margin-bottom: 13px;

        .info__ship {
          font-size: 14px;
          font-weight: 500;
          line-height: 1.57;
          color: var(--dark-grey);
          margin-bottom: 2px;
          display: flex;
          justify-content: space-between;
        }

        .info__total {
          font-size: 14px;
          font-weight: 500;
          line-height: 1.57;
          color: var(--dark-grey);
          display: flex;
          justify-content: space-between;
        }

        .info__divider {
          margin-top: 15px;
          margin-bottom: 4px;
          border: solid 0.5px var(--brown-grey);
        }
        .info__subtotal {
          font-size: 16px;
          font-weight: bold;
          line-height: 1.5;
          color: var(--dark-grey);
          display: flex;
          justify-content: space-between;
        }
      }
      .total__button {
        width: 100%;
        height: 49px;
        border: none;
        color: var(--white);
        font-size: 16px;
        font-weight: bold;
        background-color: #ff5f6d;
      }
    }
  }
}
