.quantity__field {
  width: 108px;
  height: 42px;
  display: flex;
  border: solid 2px var(--white-four);
  justify-content: space-around;
  align-items: center;
  
  & > p {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.57;
    text-align: center;
    color: var(--dark-grey);
  }

  & > button {
    width: 24px;
    height: 24px;
    border: none;
    background-color: var(--white);
  }
}