.filter-component {
  width: 180px;

  .filter__title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 33px;
  }

  .filter {
    cursor: pointer;
    margin-top: 10px;

    .border {
      padding-bottom: 8px;

      .title {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 24px;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.57;
        color: var(--dark-grey);
        & > span {
          margin-right: -5px;
        }
        .rotate {
          transform: rotate(180deg);
        }
      }
    }

    .size__content {
      margin-top: 15px;
      padding-bottom: 25px;
      border-bottom: 0.5px solid var(--pinkish-grey);
      display: flex;
      cursor: default;

      .content {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        margin-right: 16px;
        width: 40px;
        height: 40px;
        color: var(--dark-grey);
        background-color: #ffffff;
        border: solid 1px #808080;
        .content--active {
          font-weight: bold;
          color: var(--white);
          border: none;
          background-color: #ffa15f;
        }
      }
    }

    .color__content {
      margin-top: 15px;
      padding-bottom: 10px;
      border-bottom: 0.5px solid var(--pinkish-grey);
      display: flex;
      flex-wrap: wrap;
      cursor: default;

      .content {
        display: flex;
        justify-content: center;
        align-items: center;
        // border: 1px solid transparent;
        border-radius: 50%;
        text-decoration: none;
        margin-right: 20px;
        margin-bottom: 17px;
        width: 30px;
        height: 30px;
        color: var(--dark-grey);
        background-color: #ffffff;
        border: solid 2px #808080;

        &:nth-child(4n) {
          margin-right: 0;
        }

        .select-color-icon {
          position: absolute;
          top: -2px;
        }
      }
    }

    .brand__content {
      margin-top: 15px;
      padding-bottom: 10px;
      border-bottom: 0.5px solid var(--pinkish-grey);
      display: flex;
      flex-wrap: wrap;
      cursor: default;

      .content {
        display: flex;
        justify-content: center;
        align-items: center;
        // border: 1px solid transparent;
        text-decoration: none;
        margin-right: 20px;
        margin-bottom: 17px;
        width: 30px;
        height: 30px;
        color: var(--dark-grey);
        background-color: #ffffff;
        border: solid 2px #808080;

        &:nth-child(4n) {
          margin-right: 0;
        }

        .select-color-icon {
          position: absolute;
          top: -2px;
        }
      }
    }

    .price__content {
      display: flex;
      justify-content: center;
      margin-top: 15px;
      padding-bottom: 44px;
      border-bottom: 0.5px solid var(--pinkish-grey);
      cursor: default;

      .slider {
        width: 160px;
      }

      .content {
        display: flex;
        justify-content: center;
        align-items: center;
        // border: 1px solid transparent;
        text-decoration: none;
        margin-right: 20px;
        margin-bottom: 17px;
        width: 30px;
        height: 30px;
        color: var(--dark-grey);
        background-color: #ffffff;
        border: solid 2px #808080;

        &:nth-child(4n) {
          margin-right: 0;
        }

        .select-color-icon {
          position: absolute;
          top: -2px;
        }
      }
    }

    .available__content {
      margin-top: 15px;
      padding-bottom: 10px;
      border-bottom: 0.5px solid var(--pinkish-grey);
      display: flex;
      flex-wrap: wrap;
      cursor: default;

      .content {
        display: flex;
        justify-content: center;
        align-items: center;
        // border: 1px solid transparent;
        text-decoration: none;
        margin-right: 20px;
        margin-bottom: 17px;
        width: 30px;
        height: 30px;
        color: var(--dark-grey);
        background-color: #ffffff;
        border: solid 2px #808080;

        &:nth-child(4n) {
          margin-right: 0;
        }

        .select-color-icon {
          position: absolute;
          top: -2px;
        }
      }
    }
  }
}
