.navbar {
  &__top {
    width: 100%;
    padding-top: 21px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__search-box {
      width: 181px;
      height: 35px;
      display: flex;
      padding: 5px 12px 5px 15px;
      border: 1px solid var(--greyish-two);
      border-radius: 17px;

      &__input {
        height: 100%;
        width: 90%;
        color: var(--dark-grey);
        font-family: Montserrat;
        line-height: 1.57;
        outline: none;
        border: none;

        &::placeholder {
          color: var(--greyish-two);
        }
      }

      &__icon {
        display: inline-block;
        margin-right: 2px;
        opacity: 0.6;
        object-fit: contain;
        cursor: pointer;
      }
    }

    &__logo {
      margin-right: -50px;
    }

    &__action {
      height: 35px;
      width: 250px;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      &__auth {
        margin-right: 28px;
        position: relative;

        &:hover {
          cursor: pointer;
        }

        &:hover &__dropdown {
          display: block;
        }

        &__dropdown {
          display: none;
          position: absolute;
          right: 0;
          top: 49px;
          z-index: 1;
          width: 181px;
          height: 73px;
          box-shadow: 0 14px 30px 0 rgba(0, 0, 0, 0.14);
          border: solid 0.5px var(--white-six);
          background-color: var(--white-five);

          & > div {
            height: 36px;
            display: flex;
            align-items: center;
          }

          &::before {
            content: "";
            position: absolute;
            border-width: 20px 20px;
            border-style: solid;
            border-color: transparent;
            top: -25px;
            right: 0;
          }

          &__divider {
            height: 1px;
            background-color: #ececec;
          }
          &__link {
            padding: 7px 0 7px 13px;
            text-decoration: none;
            font-size: 12px;
            font-weight: 500;
            line-height: 1.83;
            color: var(--greyish-brown);
          }
        }
        & > img {
          width: 28px;
          height: 28px;
          border-radius: 50%;
          object-fit: stretch;
        }
      }

      &__register {
        margin-right: 28px;
        color: var(--greyish-brown);
        font-family: Montserrat;
        line-height: 1.57;
        border: none;
        background-color: var(--white);
      }

      &__login {
        margin-right: 28px;
        align-self: stretch;
        width: 120px;
        border: 1px solid #ffa15f;
        border-radius: 100px;
        color: #ff7e24;
        background-color: var(--white);
        font-family: Montserrat;
        line-height: 1.57;
        font-weight: bold;
      }

      &__cart {
        position: relative;

        &:hover {
          cursor: pointer;
        }

        &:hover &__dropdown {
          display: block;
        }

        &__dropdown {
          display: none;
          position: absolute;
          width: 270px;
          min-height: 69px;
          top: 50px;
          right: 0;
          z-index: 1;
          box-shadow: 0 14px 30px 0 rgba(0, 0, 0, 0.14);
          border: solid 0.5px var(--white-six);
          background-color: var(--white-five);

          &::before {
            content: "";
            position: absolute;
            border-width: 20px 20px;
            border-style: solid;
            border-color: transparent;
            top: -25px;
            right: 0;
          }

          &__link {
            display: flex;
            position: absolute;
            width: 100%;
            height: 69px;
            bottom: 0;
            border: none;
            background-color: inherit;
            font-size: 14px;
            font-weight: bold;
            line-height: 1.57;
            color: #ffa15f;
            text-decoration: none;
            align-items: center;
            justify-content: center;
          }
        }
      }
    }
  }

  &__bottom {
    margin-top: 13px;
    margin-left: -130px;
    margin-right: -130px;
    height: 45px;
    border-top: 0.5px solid #ececec;
    border-bottom: 0.5px solid #ececec;
    display: flex;
    align-items: center;
    justify-content: center;

    &__collection {
      display: flex;
      align-items: center;
      margin-right: 20px;

      &:hover {
        cursor: pointer;
      }

      &:hover &__dropdown {
        display: flex;
      }

      &__text {
        font-size: 14px;
        font-weight: 500;
        line-height: 1.57;
        color: var(--dark-grey);
      }

      &__dropdown {
        display: none;
        position: absolute;
        width: 620px;
        height: 55px;
        top: 121px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;
        box-shadow: 0 2px 4px 0 var(--black-8);
        border: solid 0.5px var(--white-six);
        background-color: var(--white-five);
        align-items: center;
        justify-content: space-around;

        &::before {
          content: "";
          position: absolute;
          width: 100%;
          border-width: 20px 26px;
          border-style: solid;
          border-color: transparent;
          top: -20px;
        }

        &__link {
          text-decoration: none;
          font-size: 14px;
          line-height: 1.57;
          text-align: center;
          color: var(--dark-grey);
        }
      }
    }
  }
}
