.home-page {
  margin: 37px 0;
  &__weekly-outfit {
    height: 513px;
    border: 1px solid var(--greyish-two);
    margin-bottom: 17px;
    background-image: url("../../assets/images/weekly-outfit.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    .weekly-outfit__title {
      font-family: Domine;
      position: absolute;
      top: 71px;
      right: 83px;
      font-size: 48px;
      font-weight: bold;
      line-height: 0.94;
      color: var(--white);
    }

    .weekly-outfit__link {
      text-decoration: none;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 180px;
      height: 49px;
      position: absolute;
      top: 417px;
      right: 73px;
      font-size: 16px;
      font-weight: bold;
      line-height: 1.5;
      text-align: center;
      color: var(--white);
      background-color: #ffa15f;
      border: none;
    }
  }

  &__collection {
    display: flex;
    justify-content: space-between;
  }
}
